<html>
    <head>
        <style>
            form{
                margin-left: 20%;
                margin-top: 10%;
            }
            label{
                font-size: 30px;
                font-family: 'Courier New', Courier, monospace;
                font-style: italic;
            }
        </style>
    </head>
    <body style="background:linear-gradient(coral,#123456);">
        {% include "index.html" %}
        {% block head %}
        {% endblock %}
        <h1>{{error}}</h1>
        <form method="POST" action="/afterlogin/">
            <label>Enter your email</label>
            <input type="email" name="email"><br><br>
            <label>Enter your password</label>
            <input type="password" name="passwd"><br><br>
            <input type="submit" value="LOGIN">
        </form>
    </body>
</html>